@use "../helpers" as *;

.catalog {
  padding-bottom: var(--section-padding-y);

  &__inner {
    display: grid;
    row-gap: calc(var(--section-padding-y) / 2);

    @include tablet {
      justify-items: center;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--section-padding-y) 38px;

    @include tablet {
      grid-template-columns: repeat(3, 1fr);
      max-width: 768px;
    }

    @include mobile {
      grid-template-columns: repeat(2, 1fr);
      max-width: 480px;
    }

    @include mobile-s {
      grid-template-columns: 1fr;
    }
  }
}
